<!DOCTYPE html>
<html lang="en">

<head>
    <title>叮当购物-电商网站</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <link rel="shortcut icon" href="/images/icons/icon-ddm.png">
    <link rel="stylesheet" type="text/css" href="/css/reset.css?v=1.1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css?v=1.1.0">
    <link rel="stylesheet" type="text/css" href="/css/icon.css?v=1.1.0">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- 顶部 -->
            <header class="header-top">
                <div class="container">
                    <nav class="navFlex headernav" id="">
                      <ul class="flex userheader fontc">
                        <li><a href="#"><span class="left-icon home-icon"></span>叮当首页</a></li>
                        <li class="dropdown city">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <span class="left-icon city-icon"></span>北京<i class="icon-delta"></i>
                          </a>
                          <div class="line"></div>
                          <ul class="dropdown-menu">
                            <li><a href="#">南京</a></li>
                            <li><a href="#">天津</a></li>
                          </ul>
                        </li>
                        <li><a href="#">喵，欢迎来叮当</a></li>
                        <li><a href="#"><span class="left-icon login-icon"></span>请登录</a></li>
                        <li><a href="#"><span class="left-icon reg-icon"></span>免费注册</a></li>
                      </ul>
                      <ul class="flex userheader">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的叮当<i class="icon-delta"></i></a>
                          <div class="line"></div>
                          <ul class="dropdown-menu">
                            <li><a href="#">已购买到的宝贝</a></li>
                            <li><a href="#">已卖出的宝贝</a></li>
                          </ul>
                        </li>
                        <li><a href="#"><span class="left-icon love-icon"></span>我关注的品牌</a></li>
                        <li><a href="#"><span class="left-icon car-icon"></span>购物车0件</a></li>

                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <span class="left-icon sc-icon"></span>收藏夹<i class="icon-delta"></i>
                          </a>
                          <div class="line"></div>
                          <ul class="dropdown-menu">
                            <li><a href="#">收藏的宝贝</a></li>
                            <li><a href="#">收藏的店铺</a></li>
                          </ul>
                        </li>
                        <li>&nbsp;<i class="icon-caret"></i></li>
                        <li><a href="#"><span class="left-icon phone-icon dashed-border"></span>手机版</a></li>
                        <li><a href="#">淘宝网</a></li>
                        <li><a href="#">企业购</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="left-icon nav-icon"></span>商家支持<i class="icon-delta"></i></a>
                          <div class="line"></div>
                          <ul class="dropdown-menu">
                            <li>商家：</li>
                            <li><a href="#">商家中心</a><a href="" title="">商家入驻</a></li>
                            <li><a href="#">商家中心</a><a href="" title="">商家入驻</a></li>
                            <li><a href="#">商家中心</a><a href="" title="">商家入驻</a></li>

                          </ul>
                        </li>
                      </ul>
                    </nav><!-- /. -->
                </div>

              </div><!-- /.container-fluid -->
            </header>
            <!-- /顶部 -->
            <!-- search -->
            <div class="container">
                <div class="row header-bottom navFlex">
                    <div class="col-2">
                        <a href="/" title="叮当购物" class="index-logo"></a>
                    </div>
                    <div class="col-5">
                        <form action="" method="post" accept-charset="utf-8">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                    <button type="button" class="search"></button>
                                </div>
                            </div>
                        </form>
                        <ul class="navFlex nav-top">
                            <li><a href="" title="">xxx</a></li>
                            <li><a href="" title="">xxx</a></li>
                            <li><a href="" title="">xxx</a></li>
                            <li><a href="" title="">xxx</a></li>
                            <li><a href="" title="">xxx</a></li>
                            <li><a href="" title="">xxx</a></li>
                            <li><a href="" title="">xxx</a></li>
                            <li><a href="" title="">xxx</a></li>
                            <li><a href="" title="">xxx</a></li>
                        </ul>
                    </div>
                    <div class="cart">
                        <div class="cw-cat div-dropdown cart-icon">
                          <a target="_blank" href="">我的购物车<span class="cartnum">0</span></a>
                          <div class="line2"></div>
                          <div class="nocart div-dropdown-menu">
                                <i class="cart_empty_img"></i>购物车中还没有商品，赶紧选购吧！
                          </div>
                          <!-- <ul class="cartlist div-dropdown-menu">
                              <li>xcfxzfsf</li>
                              <li>xcfxzfsf</li>
                              <li>xcfxzfsf</li>
                              <li>xcfxzfsf</li>
                          </ul> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /search -->
            <!-- 导航菜单 -->
            <nav class="row">
              <div class="nav-list">
                <div class="container">
                  <ul class="nav-menu navFlex row">
                    <!-- category-type -->
                    <li class="category-type bg-primary">
                        <span class="navall-icon"></span>
                        商品分类
                        <div class="main-nav">
                            <ul class="side-nav">
                                <li>
                                    <span class="left-icon nav-icon"></span>
                                    <a href="" title="">女装 </a>/
                                    <a href="" title="">内衣</a>
                                </li>
                                <li>
                                    <span class="left-icon nav-icon"></span>
                                    <a href="" title="">男装 </a>/
                                    <a href="" title="">运动户外</a>
                                </li>
                                <li>
                                    <span class="left-icon nav-icon"></span>
                                    <a href="" title="">女鞋 </a>/
                                    <a href="" title="">男鞋 </a>/
                                    <a href="" title="">箱包</a>
                                </li>
                                <li>
                                    <span class="left-icon nav-icon"></span>
                                    <a href="" title="">化妆品 </a>/
                                    <a href="" title="">个人护理</a>
                                </li>
                                <li>
                                    <span class="left-icon nav-icon"></span>
                                    <a href="" title="">腕表 </a>/
                                    <a href="" title="">珠宝饰品 </a>/
                                    <a href="" title="">眼镜</a>
                                </li>
                                <li>
                                    <span class="left-icon nav-icon"></span>
                                    <a href="" title="">手机 </a>/
                                    <a href="" title="">数码 </a>/
                                    <a href="" title="">电脑办公</a>
                                </li>
                                <li>
                                    <span class="left-icon nav-icon"></span>
                                    <a href="" title="">母婴玩具</a>
                                </li>
                                <li>
                                    <span class="left-icon nav-icon"></span>
                                    <a href="" title="">零食 </a>/
                                    <a href="" title="">进口食品 </a>/
                                    <a href="" title="">茶酒</a>
                                </li>
                                <li>
                                    <span class="left-icon nav-icon"></span>
                                    <a href="" title="">生鲜水果</a>
                                </li>
                                <li>
                                    <span class="left-icon nav-icon"></span>
                                    <a href="" title="">大家电 </a>/
                                    <a href="" title="">生活电器</a>
                                </li>
                                <li>
                                    <span class="left-icon nav-icon"></span>
                                    <a href="" title="">家具建材</a>
                                </li>
                                <li>
                                    <span class="left-icon nav-icon"></span>
                                    <a href="" title="">汽车 </a>/
                                    <a href="" title="">配件 </a>/
                                    <a href="" title="">用品</a>
                                </li>
                                <li>
                                    <span class="left-icon nav-icon"></span>
                                    <a href="" title="">家纺 </a>/
                                    <a href="" title="">家饰 </a>/
                                    <a href="" title="">鲜花</a>
                                </li>
                                <li>
                                    <span class="left-icon nav-icon"></span>
                                    <a href="" title="">医疗保健</a>
                                </li>
                                <li>
                                    <span class="left-icon nav-icon"></span>
                                    <a href="" title="">厨具 </a>/
                                    <a href="" title="">收纳 </a>/
                                    <a href="" title="">宠物</a>
                                </li>
                                <li>
                                    <span class="left-icon nav-icon"></span>
                                    <a href="" title="">图书音像</a>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <!-- /category-type -->
                    <li class=""><a href="#"><span class=""></span>叮当超市</a></li>
                    <li class=""><a href="#"><span class=""></span>叮当国际</a></li>
                    <li><a href="#">叮当会员</a></li>
                    <li><a href="#">品牌街</a></li>
                    <li><a href="#">电器城</a></li>
                    <li><a href="#">喵鲜生</a></li>
                    <li><a href="#">医疗官</a></li>
                    <li><a href="#">营业厅</a></li>
                    <li><a href="#">魅力惠</a></li>
                    <li><a href="#">飞猪旅行</a></li>
                    <li><a href="#">苏宁易购</a></li>
                  </ul>
                </div><!-- /row -->

              </div><!-- /.container -->
            </nav><!-- navbar ddcolor-bg -->

            <!-- /导航菜单 -->
            <!-- 轮播图 -->
            <!-- /轮播图 -->
        </div><!-- row -->
    </div><!-- /container-fluid -->
</body>

</html>
<script src="/js/jquery.js"></script>
<script src="/js/vue.min.js"></script>
<script src="/js/main.js"></script>